@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  margin: auto;
  max-width: 1400px;
}

main {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h1, h4 {
  font-family: "Shrikhand", sans-serif;
}

.btn__validate {
  height: 50px;
  padding: 0 25px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  box-shadow: 2px 6px 8px #D5D5D5;
}

.svg {
  margin: 0;
}

.svg__location {
  fill: #000000;
  stroke: #000000;
}

.svg__smartphone :nth-child(1) {
  fill: gray;
  stroke: gray;
}

.svg__smartphone :nth-child(2), .svg__smartphone :nth-child(3) {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

.svg__listing {
  stroke: gray;
}

.svg__store {
  fill: gray;
  stroke: gray;
}

.svg__heart {
  stroke: #000000;
  fill: transparent;
}

.svg__utensils {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

.svg__hands {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

.svg__arrow {
  stroke: #000000;
  fill: transparent;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding: 60px 0;
}

nav h2 {
  width: 90%;
}

nav ul {
  width: 90%;
}

nav ul li {
  margin: 20px 0;
}

nav ul li figure {
  display: flex;
  flex-direction: column;
  height: 250px;
  border-radius: 15px;
  box-shadow: 2px 6px 8px #D5D5D5;
  position: relative;
}

nav ul li figure img {
  object-fit: cover;
  object-position: bottom;
  border-radius: 15px 15px 0 0;
  height: 175px;
}

nav ul li figure .new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: #99E2D0;
  width: 80px;
  height: 30px;
  color: #299077;
  font-weight: bold;
  font-size: 0.9em;
}

nav ul li figure .banner {
  display: flex;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 0 0 15px 15px;
  padding: 15px;
}

nav ul li figure .banner div {
  display: flex;
  flex-direction: column;
}

nav ul li figure .banner svg {
  height: 30px;
}

@media screen and (min-width: 750px) {
  nav {
    margin: 25px;
    border-radius: 25px;
    box-shadow: 2px 6px 8px #D5D5D5;
    padding: 25px;
  }
  nav h2 {
    width: 100%;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  nav ul li {
    width: 40%;
  }
}

@media screen and (min-width: 950px) {
  nav ul li figure {
    height: 300px;
  }
  nav ul li figure img {
    height: 225px;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  position: relative;
}

header img {
  width: 165px;
}

header svg {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #343434;
  color: #FFFFFF;
  padding: 25px;
}

footer h4 {
  font-weight: 500;
  margin-bottom: 10px;
}

footer li {
  display: flex;
  align-items: center;
  height: 25px;
}

footer li a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

footer li a .svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

@media screen and (min-width: 750px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer h4 {
    margin: 0;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
  }
}

.foodPage footer {
  position: relative;
  top: -55px;
}

.hero {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.hero img {
  height: 275px;
  object-fit: cover;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
  background-color: #e9e9e9;
  height: 50px;
  border-top: 3px outset #dddddd;
}

.location svg {
  width: 16px;
  height: 20px;
  margin-right: 14px;
}

.location p {
  width: 150px;
  font-weight: 500;
}

@media screen and (min-width: 950px) {
  .location {
    margin: 0 25px;
    margin-bottom: 0px;
    border-radius: 25px 25px 0 0;
    box-shadow: 2px 6px 8px #D5D5D5;
    padding: 25px;
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  order: 2;
  background-color: #F6F6F6;
  height: 286px;
  text-align: center;
  padding: 40px;
}

.presentation p {
  font-weight: 300;
}

.presentation .btn-validate {
  margin: 15px 0;
}

@media screen and (min-width: 950px) {
  .presentation {
    margin: 25px;
    margin-top: 0px;
    border-radius: 0 0 25px 25px;
    box-shadow: 2px 6px 8px #D5D5D5;
    padding: 25px;
  }
}

.working {
  display: flex;
  flex-direction: column;
  height: 440px;
  padding: 60px 25px;
}

.working li {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #F6F6F6;
  border-radius: 25px;
  height: 74px;
  margin: 20px 0;
  box-shadow: 2px 6px 8px #D5D5D5;
  font-weight: bold;
  margin-left: 10px;
}

.working li p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #9356DC;
  color: #FFFFFF;
  font-weight: 400;
  font-size: .8em;
}

.working li svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 20px;
  margin: 0 20px 0 35px;
}

@media screen and (min-width: 950px) {
  .working {
    height: 180px;
    padding: 25px;
  }
  .working ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .working ul li {
    width: 30%;
  }
}

.menu {
  position: relative;
  top: -55px;
  padding: 30px 0;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  width: 100%;
}

.menu__heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: o;
  width: 100%;
}

.menu__heading h1 {
  font-weight: initial;
  font-size: 1.8em;
}

.menu__heading svg {
  width: 35px;
  height: 35px;
}

.homePage h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
}
