footer{
    @include flex(column,0,0,0);
    background-color: darken($colour-bg, 76%);
    color: $colour-inside;
    padding: 25px;
    h4{
        font-weight: 500;
        margin-bottom: 10px;
    }
    li{
        @include flex(0,0,center,0);
        height: 25px;
        a{
            @include flex(0,0,center,0);
            color: $colour-inside;
            .svg{
                @include flex(0,center,center,0);
                width: 14px;
                height: 14px;
                margin-right: 10px;
            }
        }
    }
    @include screen-pad{
        @include flex(row,space-between,0,wrap);
        h4{
            margin: 0;
        }
        ul{
            @include flex(0,space-around,0,wrap);
            flex: 1;
        }
    }
}