header{
    @include flex(0,center,center,0);
    height: 63px;
    width: 100%;
    max-width: 1400px;
    position: relative;
    .svg{
        &__arrow{
            @include element-position(absolute,20px,0,0,20px);
            width: 25px;
            height: 25px;
        }
        &__logo{
            height: 34px;
        }
    }
}