@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@keyframes loading-spinner__header {
  0% {
    fill: #FF79DA;
    position: absolute;
    top: 50%;
  }
  10% {
    fill: #FF79DA;
  }
  60% {
    fill: #9356DC;
  }
  70% {
    transform: scaleX(1);
    transform-origin: right;
    transition-timing-function: ease-in;
  }
  84% {
    fill: #9356DC;
    top: 50%;
    transform: scaleX(0);
    transform-origin: right;
    transition-timing-function: ease-in;
  }
  86% {
    fill: #000000;
    top: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition-timing-function: ease-out;
  }
  100% {
    fill: #000000;
    position: absolute;
    top: 0;
    transform: scaleX(1);
    transform-origin: left;
    transition-timing-function: ease-out;
  }
}

@keyframes loading-spinner {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
    transform-origin: right;
  }
}

@keyframes appearance-menu__choice {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes appearance-menu__dish {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.working__smartphone, .working__listing, .working__store {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 25px;
  height: 74px;
  max-width: 415px;
  margin: 20px 0;
  box-shadow: 2px 6px 8px #D5D5D5;
  font-weight: bold;
  margin-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  margin: auto;
  max-width: 1400px;
  background-color: #F6F6F6;
}

@media screen and (min-width: 750px) {
  .homePage {
    background-color: #FFFFFF;
  }
}

main {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h1, h4 {
  font-family: "Shrikhand", sans-serif;
}

.btn__validate {
  height: 50px;
  padding: 0 25px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  box-shadow: 2px 5px 8px #D5D5D5;
  cursor: pointer;
}

.btn__validate:hover {
  transition: ease-out 250ms;
  background: linear-gradient(to left top, #a16be0, #ff93e1);
  box-shadow: 4px 10px 4px #D5D5D5;
}

.svg {
  margin: 0;
}

.svg__location {
  fill: #000000;
  stroke: #000000;
}

.svg__smartphone :nth-child(1) {
  fill: gray;
  stroke: gray;
}

.svg__smartphone :nth-child(2), .svg__smartphone :nth-child(3) {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

.svg__listing {
  stroke: gray;
}

.svg__store {
  fill: #9356DC;
  stroke: #9356DC;
}

.svg__heart {
  background: linear-gradient(to left bottom, #9356DC, #FF79DA);
  cursor: pointer;
}

.svg__heart__outside {
  stroke: #F6F6F6;
  fill: #F6F6F6;
}

.svg__heart__inside {
  stroke: #000000;
  fill: #F6F6F6;
  opacity: 1;
  transition: opacity 750ms;
}

.svg__heart__inside:hover {
  opacity: 0;
  transition: 750ms;
}

.svg__utensils {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

.svg__hands {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

.svg__arrow {
  stroke: #000000;
  fill: transparent;
}

.svg__validate__circle {
  fill: #FFFFFF;
}

.svg__validate__checked {
  fill: transparent;
  stroke: #99E2D0;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding: 60px 0;
}

.nav h2 {
  width: 90%;
}

.nav ul {
  width: 90%;
}

.nav__cards {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  height: 250px;
  border-radius: 15px;
  box-shadow: 2px 6px 8px #D5D5D5;
  position: relative;
}

.nav__cards__img {
  object-fit: cover;
  object-position: bottom;
  border-radius: 15px 15px 0 0;
  height: 175px;
  width: 100%;
}

.nav__cards__new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #99E2D0;
  width: 80px;
  height: 30px;
  color: #299077;
  font-weight: bold;
  font-size: 0.9em;
}

.nav__cards__banner {
  display: flex;
  flex-direction: column;
  height: 75px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 0 0 15px 15px;
  padding: 15px;
}

.nav__cards__svg {
  position: absolute;
  right: 25px;
  bottom: 30px;
  height: 20px;
}

.nav__cards__svg .svg__heart__outside {
  stroke: #FFFFFF;
  fill: #FFFFFF;
}

@media screen and (min-width: 750px) {
  .nav {
    margin: 25px;
    border-radius: 25px;
    box-shadow: 2px 6px 8px #D5D5D5;
    padding: 25px;
  }
  .nav h2 {
    width: 100%;
  }
  .nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  .nav__cards {
    width: 40%;
  }
}

@media screen and (min-width: 950px) {
  .nav__cards {
    height: 300px;
  }
  .nav__cards__img {
    height: 225px;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 100%;
  max-width: 1400px;
  position: relative;
}

header .svg__arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
}

header .svg__logo {
  height: 34px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #343434;
  color: #FFFFFF;
  padding: 25px;
}

footer h4 {
  font-weight: 500;
  margin-bottom: 10px;
}

footer li {
  display: flex;
  align-items: center;
  height: 25px;
}

footer li a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

footer li a .svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

@media screen and (min-width: 750px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer h4 {
    margin: 0;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  z-index: 0;
  height: 335px;
  object-fit: cover;
}

.homePage header {
  animation: loading-spinner__header;
  animation-duration: 2500ms;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
}

.homePage header .svg__logo {
  stroke: transparent;
}

.homePage header .svg__logo__letter1 {
  animation: loading-spinner;
  animation-duration: 416.66667ms;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
}

.homePage header .svg__logo__letter2 {
  animation: loading-spinner;
  animation-duration: 416.66667ms;
  animation-delay: 666.66667ms;
  animation-fill-mode: backwards;
}

.homePage header .svg__logo__letter3 {
  animation: loading-spinner;
  animation-duration: 416.66667ms;
  animation-delay: 833.33333ms;
  animation-fill-mode: backwards;
}

.homePage header .svg__logo__letter4 {
  animation: loading-spinner;
  animation-duration: 416.66667ms;
  animation-delay: 1000ms;
  animation-fill-mode: backwards;
}

.homePage header .svg__logo__letter5 {
  animation: loading-spinner;
  animation-duration: 416.66667ms;
  animation-delay: 1166.66667ms;
  animation-fill-mode: backwards;
}

.homePage header .svg__logo__letter6 {
  animation: loading-spinner;
  animation-duration: 416.66667ms;
  animation-delay: 1333.33333ms;
  animation-fill-mode: backwards;
}

.homePage header .svg__logo__letter7 {
  animation: loading-spinner;
  animation-duration: 416.66667ms;
  animation-delay: 1500ms;
  animation-fill-mode: backwards;
}

.homePage header .svg__logo__letter8 {
  animation: loading-spinner;
  animation-duration: 416.66667ms;
  animation-delay: 1666.66667ms;
  animation-fill-mode: backwards;
}

.homePage main, .homePage footer {
  animation: loading-spinner;
  animation-duration: 2500ms;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
  animation-timing-function: step-end;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
  background-color: #e9e9e9;
  height: 50px;
  border-top: 3px outset #dddddd;
}

.location__svg {
  width: 16px;
  height: 20px;
  margin-right: 14px;
}

.location p {
  width: 150px;
  font-weight: 500;
}

@media screen and (min-width: 950px) {
  .location {
    margin: 0 25px;
    margin-bottom: 0px;
    box-shadow: 2px 6px 8px #D5D5D5;
    padding: 25px;
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  order: 2;
  background-color: #F6F6F6;
  height: 285px;
  text-align: center;
  padding: 40px;
}

.presentation p {
  font-weight: 300;
}

.presentation__btn {
  margin: 15px 0;
}

@media screen and (min-width: 950px) {
  .presentation {
    margin: 25px;
    margin-top: 0px;
    border-radius: 0 0 25px 25px;
    box-shadow: 2px 6px 8px #D5D5D5;
    padding: 25px;
  }
}

.working {
  display: flex;
  flex-direction: column;
  height: 440px;
  padding: 60px 25px;
  background-color: #FFFFFF;
}

.working p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #9356DC;
  color: #FFFFFF;
  font-weight: 400;
  font-size: .8em;
}

.working svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 20px;
  margin: 0 20px 0 35px;
}

.working__smartphone, .working__listing {
  background-color: #F6F6F6;
}

.working__store {
  background-color: #f2eafb;
}

@media screen and (min-width: 950px) {
  .working {
    height: 180px;
    padding: 25px;
  }
  .working ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .working ul li {
    width: 30%;
  }
}

.menu {
  position: relative;
  top: -70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 12px 0 12px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.menu__heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.menu__heading h1 {
  font-weight: initial;
  font-size: 1.8em;
}

.menu__heading svg {
  width: 25px;
  height: 25px;
  height: 100%;
}

.menu__choice {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  margin: 15px 0;
}

@media screen and (min-width: 750px) {
  .menu__choice {
    width: 30%;
  }
}

.menu__choice h2 {
  font-weight: 400;
  font-size: 1em;
  height: 30px;
  margin-left: 5px;
  background: linear-gradient(to right, #99E2D0, #99E2D0) no-repeat bottom transparent;
  background-size: 12% 3px;
  background-position: left bottom;
}

.menu__dish {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 15px;
  width: 100%;
  height: 67px;
  margin: 10px 0;
  cursor: pointer;
}

.menu__dish strong {
  padding: 12px;
}

.menu__dish__check {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 0px;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  transition-duration: 500ms;
}

.menu__dish__check__svg {
  height: 20px;
  transition-duration: 250ms;
}

.menu__dish:hover .menu__dish__check {
  width: 60px;
  transform: scaleX(1);
  transform-origin: 100% 50%;
  transition-duration: 500ms;
}

.menu__dish:hover .menu__dish__check__svg {
  transform: rotate(-360deg);
  transition-duration: 250ms;
  transition-delay: 250ms;
}

.menu__detail {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  padding: 12px;
}

.menu__detail h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.15em;
  margin-bottom: 5px;
}

.menu__detail p {
  font-weight: 300;
  font-size: 0.95em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__input {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu .btn__validate {
  width: 185px;
  margin-top: 20px;
}

.menu .menu__choice:nth-child(2) h2 {
  animation: appearance-menu__choice;
  animation-duration: 500ms;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
}

.menu .menu__choice:nth-child(2) .menu__dish:nth-child(2) {
  animation: appearance-menu__dish;
  animation-duration: 500ms;
  animation-delay: 625ms;
  animation-fill-mode: backwards;
}

.menu .menu__choice:nth-child(2) .menu__dish:nth-child(3) {
  animation: appearance-menu__dish;
  animation-duration: 500ms;
  animation-delay: 750ms;
  animation-fill-mode: backwards;
}

.menu .menu__choice:nth-child(2) .menu__dish:nth-child(4) {
  animation: appearance-menu__dish;
  animation-duration: 500ms;
  animation-delay: 875ms;
  animation-fill-mode: backwards;
}

.menu .menu__choice:nth-child(2) .menu__dish:nth-child(5) {
  animation: appearance-menu__dish;
  animation-duration: 500ms;
  animation-delay: 1000ms;
  animation-fill-mode: backwards;
}

.menu .menu__choice:nth-child(3) h2 {
  animation: appearance-menu__choice;
  animation-duration: 500ms;
  animation-delay: 1000ms;
  animation-fill-mode: backwards;
}

.menu .menu__choice:nth-child(3) .menu__dish:nth-child(2) {
  animation: appearance-menu__dish;
  animation-duration: 500ms;
  animation-delay: 1125ms;
  animation-fill-mode: backwards;
}

.menu .menu__choice:nth-child(3) .menu__dish:nth-child(3) {
  animation: appearance-menu__dish;
  animation-duration: 500ms;
  animation-delay: 1250ms;
  animation-fill-mode: backwards;
}

.menu .menu__choice:nth-child(3) .menu__dish:nth-child(4) {
  animation: appearance-menu__dish;
  animation-duration: 500ms;
  animation-delay: 1375ms;
  animation-fill-mode: backwards;
}

.menu .menu__choice:nth-child(4) h2 {
  animation: appearance-menu__choice;
  animation-duration: 500ms;
  animation-delay: 1500ms;
  animation-fill-mode: backwards;
}

.menu .menu__choice:nth-child(4) .menu__dish:nth-child(2) {
  animation: appearance-menu__dish;
  animation-duration: 500ms;
  animation-delay: 1625ms;
  animation-fill-mode: backwards;
}

.menu .menu__choice:nth-child(4) .menu__dish:nth-child(3) {
  animation: appearance-menu__dish;
  animation-duration: 500ms;
  animation-delay: 1750ms;
  animation-fill-mode: backwards;
}

.menu .menu__choice:nth-child(4) .menu__dish:nth-child(4) {
  animation: appearance-menu__dish;
  animation-duration: 500ms;
  animation-delay: 1875ms;
  animation-fill-mode: backwards;
}

.homePage h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
}
