
%working-li{
    @include flex(0,0,center,0);
        position: relative;
        border-radius: 25px;
        height: 74px;
        max-width: 415px;
        margin: 20px 0;
        box-shadow: 2px 6px 8px $colour-shadow;
        font-weight: bold;
        margin-left: 10px;
}
