.btn{
    &__validate{
    height: 50px;
    padding: 0 25px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to left top, $colour-primary, $colour-secondary);
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    box-shadow: 2px 6px 8px $colour-shadow;
    }
}