.svg{
    margin: 0;
    &__location{
        fill: $colour-outside;
        stroke: $colour-outside;
    }
    &__smartphone{
        :nth-child(1){
            fill: lighten($colour-outside,50%);
            stroke: lighten($colour-outside,50%);
        }
        :nth-child(2), :nth-child(3){
            fill: $colour-inside;
            stroke: $colour-inside;
        }
    }
    &__listing{
        stroke: lighten($colour-outside,50%);
    }
    &__store{        
        fill: $colour-primary;
        stroke: $colour-primary;
    }
    &__heart{
        background: linear-gradient(to left bottom, $colour-primary, $colour-secondary);
        &__check{
            display: none;
        }
        &__outside{
            stroke: $colour-bg;
            fill: $colour-bg;
        }
        &__inside{
            stroke: $colour-outside;
            fill: $colour-bg;
        }
        &__check:checked + label &__inside{
            opacity: 0;
        }
        @include screen-mobile{
            &__check:not(:checked) + label:hover &__inside{
                animation: fill-heart $timer-transition-fill-heart;
                animation-fill-mode: forwards;
            }
            &__check:checked + label:hover &__inside{
                animation: unfill-heart $timer-transition-fill-heart;
                animation-fill-mode: forwards;
            }
        }
        @include screen-desktop{
            &__check:not(:checked) + label:active &__inside{
                animation: fill-heart $timer-transition-fill-heart;
                animation-fill-mode: forwards;
            }
            &__check:checked + label:active &__inside{
                animation: unfill-heart $timer-transition-fill-heart;
                animation-fill-mode: forwards;
            }
        }
    }
    &__utensils{
        fill: $colour-inside;
        stroke: $colour-inside;
    }
    &__hands{
        fill: $colour-inside;
        stroke: $colour-inside;
    }
    &__arrow{
        stroke: $colour-outside;
        fill: transparent;
    }
    &__validate{
        &__circle{
            fill: $colour-inside;
        }
        &__checked{
            fill: transparent;
            stroke: $colour-tertiary;
        }
    }
}
