.svg{
    margin: 0;
    &__location{
        fill: $colour-outside;
        stroke: $colour-outside;
    }
    &__smartphone{
        :nth-child(1){
            fill: lighten($colour-outside,50%);
            stroke: lighten($colour-outside,50%);
        }
        :nth-child(2), :nth-child(3){
            fill: $colour-inside;
            stroke: $colour-inside;
        }
    }
    &__listing{
        stroke: lighten($colour-outside,50%);
    }
    &__store{        
        fill: $colour-primary;
        stroke: $colour-primary;
    }
    &__heart{
        stroke: $colour-outside;
        fill: transparent;
        &:active, &:hover{
            stroke: url(#svg-gradient);
            fill: url(#svg-gradient);
        }
    }
    &__utensils{
        fill: $colour-inside;
        stroke: $colour-inside;
    }
    &__hands{
        fill: $colour-inside;
        stroke: $colour-inside;
    }
    &__arrow{
        stroke: $colour-outside;
        fill: transparent;
    }
}

.svg-gradient{
    &-start{
        stop-color: $colour-secondary;
    }
    &-end{
        stop-color: $colour-primary;
    }
}