@keyframes loading-spinner__header {
    0%{
        fill:$colour-secondary;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    10%{
        fill:$colour-secondary;
    }
    60%{
        fill:$colour-primary;
    }
    70%{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scaleX(1);
    }
    85%{
        fill:$colour-primary;
        top : 50%;
        left: 150%;
    }
    86%{
        fill: $colour-outside;
        top : 0;
        right: 150%;
    }
    100%{
        fill: $colour-outside;
        position: absolute;
        top : 0;
        right: 0;
    }
}

@keyframes loading-spinner {
    0%{
       transform: scaleX(0);
       transform-origin: right;
    }
    100%{
        transform: scaleX(1);
        transform-origin: right;
    }
}

@keyframes appearance-menu__choice{
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}


@keyframes appearance-menu__dish{
    0% {
        transform: scaleX(0);
        transform-origin: right;
    }
    100% {
        transform: scaleX(1);
        transform-origin: left;
    }
}