@keyframes fill-heart{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes unfill-heart{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appearance-menu__choice{
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}


@keyframes appearance-menu__dish{
    0% {
        transform: scaleX(0);
        transform-origin: right;
    }
    100% {
        transform: scaleX(1);
        transform-origin: left;
    }
}