@mixin screen-desktop{
    @media screen and (min-width:map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin screen-pad{
    @media screen and (min-width:map-get($breakpoints, pad)) {
        @content;
    }
}

@mixin screen-mobile{
    @media screen and (max-width:map-get($breakpoints, pad)) {
        @content;
    }
}

@mixin element-position($position,$top,$right,$bottom,$left){
    position: $position;
    @if ($top != 0){
        top: $top;
    }    
    @if ($right != 0){
        right: $right;
    }    
    @if ($bottom != 0){
        bottom: $bottom;
    }    
    @if ($left != 0){
        left: $left;
    }
}

@mixin flex($direction,$justify,$align,$wrap){
    display: flex;
    @if ($direction != 0)
    {
        flex-direction: $direction;
    }
    @if ($justify != 0)
    {
        justify-content: $justify;
    }
    @if ($align != 0)
    {
        align-items: $align;
    }
    @if ($wrap != 0)
    {
        flex-wrap: $wrap;
    }
}

@mixin overflow($text-overflow){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: $text-overflow;
}

@mixin animation-menu($animation,$duration,$delay,$mode){
    animation: $animation;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-fill-mode: $mode;
}