$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-outside: #000000;
$colour-inside: #FFFFFF;
$colour-bg:#F6F6F6;
$colour-shadow:#D5D5D5;

$font-title: 'Shrikhand';
$font-text: 'Roboto';

$width-mobile: 90%;

$border-radius-card-nav : 15px;