$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-outside: #000000;
$colour-inside: #FFFFFF;
$colour-bg:#F6F6F6;
$colour-shadow:#D5D5D5;

$font-title: 'Shrikhand';
$font-text: 'Roboto';

$width-mobile: 90%;
$width-desktop: 40%;
$percentage-lighten-btn-validate: 5%;
$percentage-lighten-working: 35%;

$border-radius-card-nav: 15px;
$border-radius-menu: 40px;
$border-radius-menu-dish: 15px;

$position-menu-top: -55px;

$breakpoints:(
    desktop: 950px,
    pad: 750px
)