.location{
    @include flex(0,center,center,0);
    order:1;
    background-color: darken($color: $colour-bg, $amount: 5%);
    height: 50px;
    border-top: 3px outset darken($color: $colour-bg, $amount: 10%);
    svg{
        width: 16px;
        height: 20px;
        margin-right: 14px;
    }
    p{
        width: 150px;
        font-weight: 500;
    }
    @include screen-desktop{
        margin: 0 25px;
        margin-bottom: 0px;
        border-radius: 25px 25px 0 0;
        box-shadow: 2px 6px 8px $colour-shadow;
        padding: 25px;
    }
}

.presentation{
    @include flex(column,space-between,center,0);
    order: 2;
    background-color: $colour-bg;
    height: 286px;
    text-align: center;
    padding: 40px;
    p{
        font-weight: 300;
    }
    .btn-validate{
        margin: 15px 0;
    }
    @include screen-desktop{
        margin: 25px;
        margin-top: 0px;
        border-radius: 0 0 25px 25px;
        box-shadow: 2px 6px 8px $colour-shadow;
        padding: 25px;
    }
}

.working{
    @include flex(column,0,0,0);
    height: 440px;
    padding: 60px 25px;
    li{
        @include flex(0,0,center,0);
        position: relative;
        background-color: $colour-bg;
        border-radius: 25px;
        height: 74px;
        margin: 20px 0;
        box-shadow: 2px 6px 8px $colour-shadow;
        font-weight: bold;
        margin-left: 10px;
        p{
            @include flex(0,center,center,0);
            @include element-position(absolute,27px,0,0,-10px);
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background-color: $colour-primary;
            color: $colour-inside;
            font-weight: 400;
            font-size: .8em;
        }
        svg{
            @include flex(0,center,center,0);
            height: 25px;
            width: 20px;
            margin:  0 20px 0 35px;
        }
    }
    @include screen-desktop{
        height: 180px;
        padding: 25px;
        ul{
            @include flex(0,space-between,0,wrap);
            li{
                width: 30%;
            }
        }
    }
    
}

.menu{
    @include element-position(relative,$position-menu-top,0,0,0);
    @include flex(column,0,center,0);
    padding: 30px 12px;
    background-color: $colour-bg;
    border-radius: $border-radius-menu $border-radius-menu 0 0;
    width: 100%;
    &__heading{
        @include flex(0,space-around,center,o);
        width: 100%;
        h1{
            font-weight: initial;
            font-size: 1.8em;
        }
        svg{
            width: 35px;
            height: 35px;
        }
    }
    &__choice{
        @include flex(column,0,0,0);
        width: 100%;
        margin: 15px 0;
        h2{
            font-weight: 400;
            font-size: 1em;
            height: 30px;
            background:
            linear-gradient(to right, $colour-tertiary, $colour-tertiary)
            no-repeat bottom 
            transparent;
            background-size:12% 3px;
            background-position: left bottom;
        }

    }
    &__dish{
        @include flex(0,space-between,center,0);
        background-color: $colour-inside;
        border-radius: $border-radius-menu-dish;
        width: 100%;
        height: 67px;
        margin: 10px 0;
    }
    &__detail{
        @include flex(column,0,0,0);
        width: 100%;
        padding: 12px;
        div{
            @include flex(0,space-between,0,0);
            width: 100%;
        }
        p{
            font-weight: 300;
        }
    }
    .btn__validate{
        width: 185px;
        margin: 20px 0;
    }
}

