.homePage{
    header{
        @include animation(loading-spinner__header,$timer-loading-spinner,$timer-loading-spinner-delay,backwards);
        .svg__logo{
            stroke: transparent;
            &__letter{
                &1{
                    @include animation(loading-spinner,1/6*$timer-loading-spinner,$timer-loading-spinner-delay,backwards);
                }
                &2{
                    @include animation(loading-spinner,1/6*$timer-loading-spinner,(1/15*$timer-loading-spinner) + $timer-loading-spinner-delay,backwards);
                }
                &3{
                    @include animation(loading-spinner,1/6*$timer-loading-spinner,(2/15*$timer-loading-spinner) + $timer-loading-spinner-delay,backwards);
                }
                &4{
                    @include animation(loading-spinner,1/6*$timer-loading-spinner,(3/15*$timer-loading-spinner) + $timer-loading-spinner-delay,backwards);
                }
                &5{
                    @include animation(loading-spinner,1/6*$timer-loading-spinner,(4/15*$timer-loading-spinner) + $timer-loading-spinner-delay,backwards);
                }
                &6{
                    @include animation(loading-spinner,1/6*$timer-loading-spinner,(5/15*$timer-loading-spinner) + $timer-loading-spinner-delay,backwards);
                }
                &7{
                    @include animation(loading-spinner,1/6*$timer-loading-spinner,(6/15*$timer-loading-spinner) + $timer-loading-spinner-delay,backwards);
                }
                &8{
                    @include animation(loading-spinner,1/6*$timer-loading-spinner,(7/15*$timer-loading-spinner) + $timer-loading-spinner-delay,backwards);
                }
            }
        }
    }
    main, footer{
        @include animation(loading-spinner,$timer-loading-spinner,$timer-loading-spinner-delay,backwards);
        animation-timing-function: step-end;
    }
}

.location{
    @include flex(0,center,center,0);
    order:1;
    background-color: darken($color: $colour-bg, $amount: 5%);
    height: 50px;
    border-top: 3px outset darken($color: $colour-bg, $amount: 10%);
    svg{
        width: 16px;
        height: 20px;
        margin-right: 14px;
    }
    p{
        width: 150px;
        font-weight: 500;
    }
    @include screen-desktop{
        margin: 0 25px;
        margin-bottom: 0px;
        border-radius: 25px 25px 0 0;
        box-shadow: 2px 6px 8px $colour-shadow;
        padding: 25px;
    }
}

.presentation{
    @include flex(column,space-between,center,0);
    order: 2;
    background-color: $colour-bg;
    height: 286px;
    text-align: center;
    padding: 40px;
    p{
        font-weight: 300;
    }
    .btn-validate{
        margin: 15px 0;
    }
    @include screen-desktop{
        margin: 25px;
        margin-top: 0px;
        border-radius: 0 0 25px 25px;
        box-shadow: 2px 6px 8px $colour-shadow;
        padding: 25px;
    }
}

.working{
    @include flex(column,0,0,0);
    height: 440px;
    padding: 60px 25px;
    background-color: $colour-inside;
    p{
        @include flex(0,center,center,0);
        @include element-position(absolute,27px,0,0,-10px);
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background-color: $colour-primary;
        color: $colour-inside;
        font-weight: 400;
        font-size: .8em;
    }
    svg{
        @include flex(0,center,center,0);
        height: 25px;
        width: 20px;
        margin:  0 20px 0 35px;
    }
    &__smartphone, &__listing{
        @extend %working-li;
        background-color: $colour-bg;
    }
    &__store{
        @extend %working-li;
        background-color: lighten($color: $colour-primary, $amount: $percentage-lighten-working);
        
    }
    @include screen-desktop{
        height: 180px;
        padding: 25px;
        ul{
            @include flex(0,space-between,0,wrap);
            li{
                width: 30%;
            }
        }
    }
    
}

.menu{
    @include element-position(relative,$position-menu-top,0,0,0);
    @include flex(column,0,center,0);
    padding: 30px 12px 0 12px;
    background-color: $colour-bg;
    border-radius: $border-radius-menu $border-radius-menu 0 0;
    width: 100%;
    @include screen-pad{
        @include flex(row,space-between,flex-start,wrap);
    }
    &__heading{
        @include flex(0,space-around,center,0);
        width: 100%;
        h1{
            font-weight: initial;
            font-size: 1.8em;
        }
        svg{
            width: 35px;
            height: 35px;
        }
    }
    &__choice{
        @include flex(column,0,0,0);
        width: 100%;
        max-width: 450px;
        margin: 15px 0;
        @include screen-pad{
            width: 30%;
        }
        h2{
            font-weight: 400;
            font-size: 1em;
            height: 30px;
            margin-left: 5px;
            background:
            linear-gradient(to right, $colour-tertiary, $colour-tertiary)
            no-repeat bottom 
            transparent;
            background-size:12% 3px;
            background-position: left bottom;
        }
    }
    &__dish{
        @include flex(0,space-between,flex-end,0);
        background-color: $colour-inside;
        border-radius: $border-radius-menu-dish;
        width: 100%;
        height: 67px;
        margin: 10px 0;
        strong{
            padding: 12px;
        }
        &__check{
            @include flex(0,center,center,0);
            width: 0px;
            height: 100%;
            transform: scaleX(0);
            background-color: $colour-tertiary;
            border-radius: 0 $border-radius-menu-dish $border-radius-menu-dish 0;
            &__svg{
                height: 20px;
            }
            &:active &__svg{
                transform: rotate(360deg);
                transition-duration: 250ms;
            }
        }
        &:hover &__check{
            width: 60px;
            transform: scaleX(1);
            transition-duration: 1000ms;
        }
        .svg__validate__check:checked + label{
            width: 60px;
            transform: scaleX(1);
        }
    }
    &__detail{
        @include flex(column,0,0,0);
        @include overflow(ellipsis);
        flex: 1;
        padding: 12px;
        h3{
            @include overflow(ellipsis);
            font-size: 1.15em;
            margin-bottom: 5px;
        }
        p{
            font-weight: 300;
            font-size: 0.95em;
            @include overflow(ellipsis);
        }
    }
    &__input{
        @include flex(0,center,0,0);
        width: 100%;
    }
    .btn__validate{
        width: 185px;
        margin-top: 20px;
    }
    .menu__choice:nth-child(2){
        h2{
        @include animation(appearance-menu__choice, $timer-animation-appearance-menu__choice, $timer-animation-delay, backwards);
        }
        .menu__dish:nth-child(2){
            @include animation(appearance-menu__dish, $timer-animation-appearance-menu__choice, 1.25*$timer-animation-delay, backwards);
        }
        .menu__dish:nth-child(3){
            @include animation(appearance-menu__dish, $timer-animation-appearance-menu__choice, 1.50*$timer-animation-delay, backwards);
        }
        .menu__dish:nth-child(4){
            @include animation(appearance-menu__dish, $timer-animation-appearance-menu__choice, 1.75*$timer-animation-delay, backwards);
        }
        .menu__dish:nth-child(5){
            @include animation(appearance-menu__dish, $timer-animation-appearance-menu__choice, 2*$timer-animation-delay, backwards);
        }
    }
    .menu__choice:nth-child(3){
        h2{
        @include animation(appearance-menu__choice, $timer-animation-appearance-menu__choice, 2*$timer-animation-delay, backwards);
        }
        .menu__dish:nth-child(2){
            @include animation(appearance-menu__dish, $timer-animation-appearance-menu__choice, 2.25*$timer-animation-delay, backwards);
        }
        .menu__dish:nth-child(3){
            @include animation(appearance-menu__dish, $timer-animation-appearance-menu__choice, 2.50*$timer-animation-delay, backwards);
        }
        .menu__dish:nth-child(4){
            @include animation(appearance-menu__dish, $timer-animation-appearance-menu__choice, 2.75*$timer-animation-delay, backwards);
        }
    }
    .menu__choice:nth-child(4){
        h2{
        @include animation(appearance-menu__choice, $timer-animation-appearance-menu__choice, 3*$timer-animation-delay, backwards);
        }
        .menu__dish:nth-child(2){
            @include animation(appearance-menu__dish, $timer-animation-appearance-menu__choice, 3.25*$timer-animation-delay, backwards);
        }
        .menu__dish:nth-child(3){
            @include animation(appearance-menu__dish, $timer-animation-appearance-menu__choice, 3.50*$timer-animation-delay, backwards);
        }
        .menu__dish:nth-child(4){
            @include animation(appearance-menu__dish, $timer-animation-appearance-menu__choice, 3.75*$timer-animation-delay, backwards);
        }
    }
}

